fastapi
uvicorn[standard]
gunicorn
yt-dlp
pillow

httpx
python-multipart
python-dotenv
scenedetect[opencv]
opencv-python-headless
numpy
pytesseract
rapidfuzz
groq
playwright
curl-cffi
aiofiles
jinja2
ffmpeg-python
redis>=5.0.0
deepgram-sdk
assemblyai
pytubefix
httpx>=0.27.0
ddgs>=0.1.0
-U yt-dlp