fastapi
uvicorn
yt-dlp
pillow
google-genai
httpx

python-multipart
python-dotenv
scenedetect[opencv]
opencv-python-headless
numpy
pytesseract
rapidfuzz
scikit-learn
sentence-transformers
faiss-cpu
torch
torchaudio
torchvision
transformers
ffmpeg-python
aiofiles
jinja2
redis
celery
groq
